footer {
    width: 100%;
    background-color: #8A3033;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

#footer-box {
    width: 100%;
    margin: 10px;
    list-style: none;
}
#footer-box ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#footer-box p{
    font-size: 25px;
}
#footer-box ul a{
    color: black;
    text-decoration: none;
}
#footer-box-image {
    width: 100%;
    margin: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
}
#footer-box-image img {
    margin-top: 10px;
}